{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "adminUsername": {
      "value": "GEN-UNIQUE"
    },
    "webUsername" : {
      "value": "GEN-UNIQUE"
    },
    "dnsNameForPublicIP": {
      "value": "GEN-UNIQUE"
    },
    "ubuntuOSVersion": {
      "value": "14.04.5-LTS"
    },
    "adminPasswordOrKey": {
      "value": "GEN-SSH-PUB-KEY"
    },
    "_artifactsLocation": {
      "value": "https://github.com/USER/REPO/tree/master/FOLDER"
    },
    "_customScriptFile": {
      "value": "installrstudio.sh"
    }, 
    "userPassword" : {
      "value": "some password"
    },
    "storageAccount": {
      "value": "STORAGEACCOUNTNAME"
    },
    "storageContainer": {
      "value": "STORAGECONTAINERNAME"
    },
    "storageKey": {
      "value": "STORAGEKEY"
    },
    "namePrefix": {
      "value" : "SHORTSTRING"
    }

  }
}