{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "vmName": {
            "value": "scriptvm"
        },
        "adminUsername": {
            "value": "YOURUSERNAMEHERE"
        },
        "authenticationType": {
            "value": "sshPublicKey"
        },
        "adminPasswordOrKey": {
            "value": "YOURKEYHERE"
        },
        "dnsLabelPrefix": {
            "value": "scriptvm-"
        },
        "ubuntuOSVersion": {
            "value": "18.04-LTS"
        },
        "location": {
            "value": "eastus"
        },
        "VmSize": {
            "value": "Standard_B2s"
        },
        "virtualNetworkName": {
            "value": "scriptvm-vNet"
        },
        "subnetName": {
            "value": "scriptvm-Subnet"
        },
        "networkSecurityGroupName": {
            "value": "scriptvm-SecGroupNet"
        }
    }
}